#bag {
  width: 200px;
  height: 500px;
  margin: 0 auto;
  background: url('./images/bag.png') center no-repeat;
  background-size: 80%;
}

#bag.burst {
  background-image: url('./images/bag-burst.png');
}

#bag-health {
  width: 200px;
  border: 2px solid #000;
  margin: 0 auto 20px;
  position: relative;
}

#bag-health .blood-bar {
  height: 20px;
  background-color: red;
}

#bag-health .info {
  color: #333;
  text-align: center;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

#controls {
  width: 120px;
  margin: 0 auto;
}